* {
    box-sizing: border-box;
}
  
body {
    background: #286DCA;
    margin: 0;
    text-align: center;
}

.landing-page-container {
    width: 100%;
    height: 100vh;
}


.App--toggle-view {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    z-index: 100;
    background: white;
}

.App--toggle-view__option {
    background: #253764;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    user-select: none;
}

.App--toggle-view__option.active {
    opacity: 1;
}

.App--toggle-view__option-text {
    color: white;
    text-align: center;
}

.App--description__title {
    font-weight: bold;
    font-size: 20px;
}

.App--description__text{
    font-weight: bold;
}

.App--description {
    background: white;
    width: 100%;
    padding: 20px;
    margin-top: -100px;
    z-index: 50;
    position: relative;
}

.App--loading {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.App--searchbox {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    width: 100%;
    outline: none;
    border: 2px solid #28aae1;
    text-transform: uppercase;
    font-weight: bold;
    color: #253764;
}

.App--body {
    padding: 20px;
}

.card {
    background-color: #1F56A0;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.description-header {
    margin-top: 0px;
    max-width: 100%;
    background-color: lightblue;
    border-radius: 0px;
    border-bottom: darkblue;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    
}

.bigTimerCard {
    background-color: darkgoldenrod;
    margin: 10px;
}

.bigTimerLabel {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 20px;
}

.bigTimer {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timerText {
    margin-bottom: 0px;
    font-size: 20px;   
}

.gameList {
    background-color: lightblue;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

.middleBreak {
    height: 75px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

#comingGames {

}